<!--<header class="header">
    <h4>CreateTask</h4>
    </header>
      <div [hidden]="submitted" style="width: 400px;">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">TaskID</label>
              <input type ="text" class ="form-control" id="taskId" required [(ngModel)]="task.taskId" name="taskId" >
            </div>
            <div class="form-group">
              <label for="name">ownerId</label>
              <input type="text" class="form-control" id="ownerId" required [(ngModel)]="task.ownerId" name="ownerId">
            </div>
      
            <div class="form-group">
              <label for="name">creatorId</label>
              <input type="text" class="form-control" id="creatorId" required [(ngModel)]="task.creatorId" name="creatorId">
            </div>
      
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" required [(ngModel)]="task.name" name="name">
            </div>
      
      
            <div class="form-group">
              <label for="name">Description</label>
              <input type="text" class="form-control" id="description" required [(ngModel)]="task.description" name="description">
            </div>
      
      
            <div class="form-group">
              <label for="name">Status</label>
              <input type="text" class="form-control" id="status" required [(ngModel)]="task.status" name="status">
            </div>
      
      
            <div class="form-group">
              <label for="name">Priority</label>
              <input type="text" class="form-control" id="priority" required [(ngModel)]="task.priority" name="priority">
            </div>
      
      
            <div class="form-group">
              <label for="name">Notes</label>
              <input type="text" class="form-control" id="notes" required [(ngModel)]="task.notes" name="notes">
            </div>
      
            <div class="form-group">
              <label for="name">IsBookmarked</label>
              <input type="text" class="form-control" id="isBookmarked" required [(ngModel)]="task.isBookmarked" name="isBookmarked">
            </div>
      
            <div class="form-group">
              <label for="name">createdOn</label>
              <input type="date" class="form-control" id="createdOn" required [(ngModel)]="task.createdOn" name="createdOn">
            </div>
      
            <div class="form-group">
              <label for="name">statusChangedOn</label>
              <input type="date" class="form-control" id="statusChangedOn" required [(ngModel)]="task.statusChangedOn" name="statusChangedOn">
            </div>
            
      
            
      
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>-->
      <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul>
          <li class="nav-item">
            <a routerLink="/tasks" class="btn btn-success mx-2" routerLinkActive="active">Back To Task-List</a>
        </li>
        </ul>
      </nav>
      <header class="header">
          <h4>CreateTask</h4>
          </header>
          <div [hidden]="submitted" style="width: 400px;">
              <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="name">TaskID</label>
                  <input type ="text" class ="form-control" id="taskId" required [(ngModel)]="task.taskId" name="taskId" >
                </div>
              
                <div class="form-group">
                  <label for="name">OwnerID</label>
                  <input type="text" class="form-control" id="ownerId" required [(ngModel)]="task.ownerId" name="ownerId">
                </div>
          
                 <div class="form-group">
                  <label for="name">CreatorID</label>
                  <input type="text" class="form-control" id="creatorId" required [(ngModel)]="task.creatorId" name="creatorId">
                </div> 
          
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" required [(ngModel)]="task.name" name="taskname">
                </div>
          
          
                <div class="form-group">
                  <label for="name">Description</label>
                  <input type="text" class="form-control" id="description" required [(ngModel)]="task.description" name="description">
                </div>
          
          
                <div class="form-group">
                  <label for="name">Status</label>
                  <input type="text" class="form-control" id="status" required [(ngModel)]="task.status" name="status">
                </div>
          
          
                <div class="form-group">
                  <label for="name">Priority</label>
                  <input type="text" class="form-control" id="priority" required [(ngModel)]="task.priority" name="priority">
                </div>
          
          
                <div class="form-group">
                  <label for="name">Notes</label>
                  <input type="text" class="form-control" id="notes" required [(ngModel)]="task.notes" name="notes">
                </div>
          
                <div class="form-group">
                  <label for="name">IsBookmark</label>
                  <input type="text" class="form-control" id="isBookmarked" required [(ngModel)]="task.isBookmarked" name="isBookmark">
                </div>
          
                <div class="form-group">
                  <label for="name">Created_On</label>
                  <input type="date" class="form-control" id="createdOn" required [(ngModel)]="task.createdOn" name="createdOn">
                </div>
          
                <div class="form-group">
                  <label for="name">ModifiedOn</label>
                  <input type="date" class="form-control" id="statusChangedOn" required [(ngModel)]="task.statusChangedOn" name="statusChangedOn">
                </div>
                
          
                
          
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
          </div>
          
          <div [hidden]="!submitted">
      
      
        
