<!--The content below is only a placeholder and can be replaced.-->
<div>
 
  
<!--<pipe-com></pipe-com>
    <my-own-com>

    </my-own-com>
  <app-employee-details></app-employee-details>
  <app-Task-details> </app-Task-details>-->
    <!--<h1 [color]="'red'" >My color</h1>-->
    
    <!--<h4 [color]="'yellow'">Next color</h4>
    
    <product-com>
    
    </product-com>

    <productimage-com>

    </productimage-com>
    
    
    <app-post-example></app-post-example>
    <emp-com></emp-com>
<template-form></template-form>
    <validate></validate>
    

    <div>
      <ul>
        <li><a [routerLink]="['/Register']">Register</a></li>
        <li><a [routerLink]="['/login']">Login</a></li>
      </ul>
    </div>
   

   
      <div>
        <ul>
          <li><a [routerLink]="['/template-form']">template-form</a></li>
          <li><a [routerLink]="['/validate']">Model-form</a></li>
        </ul>
      </div>
   
  
    <Register></Register> -->
    <!--<app-post-casestudy></app-post-casestudy>
    <app-post-casestudy></app-post-casestudy>
  <app-search-status></app-search-status>
  
<app-task-list></app-task-list>
   
    
    -->
    
    <router-outlet></router-outlet>
    
</div>


